* {
    box-sizing: border-box;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 30%;
    padding: 20px;
  }

  .about-heading {
      font-size: 40px;
      letter-spacing: 1px;
  }

  h5 {
      color: #5f6769;
      font-size: 1.5vw;
      margin-top: 2%;
  }

  .about-me {
      color: #5f6769;
      font-size: 1.7vw;
      margin-top: 3%;
      line-height: 1.9;
  }

  .highlight {
    color: #790c5a;
  }

  .edu {
      margin-top: 5%;
  }

  .hello-img {
    height: 20vw;
    margin: 2% 0;
  }

  .hangout {
    width: 50vw;
    margin-top: 3%;
  }

  .list-group {
      margin-top: 4.5%;
  }

  .list-group a {
    color: #790c5a;
  }

  .list-group a:hover {
    color: black;
    text-decoration: none;
  }

  .badge {
      background-color: #790c5a;
  }
  
  /* Main column */
  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }